.hero {
  position: relative;

  height: 90vh;

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero-overlay {
  position: absolute;

  inset: 0;

  background: linear-gradient(
    rgba(0, 0, 0, .45),
    rgba(0, 0, 0, .65)
  );
}

.hero-content {
  position: relative;
  z-index: 2;

  max-width: 800px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 5rem;
  font-weight: 900;

  margin-bottom: 20px;

  background: var(--gradient);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 10px rgba(139,92,246,.5),
    0 0 20px rgba(139,92,246,.5),
    0 0 40px rgba(139,92,246,.5);
}

.hero-content p {
  font-size: 1.3rem;

  color: var(--white);

  margin-bottom: 30px;
}

.hero-btn {
  border: none;

  padding: 15px 40px;

  border-radius: 12px;

  background: var(--gradient);

  color: white;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;

  box-shadow:
    0 0 15px rgba(139,92,246,.4),
    0 0 30px rgba(139,92,246,.2);
}

.hero-btn:hover {
  box-shadow:
    0 0 25px rgba(139,92,246,.8),
    0 0 50px rgba(139,92,246,.5);

  transform: translateY(-2px);
}

@media (max-width: 768px) {

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

}